<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title> Tambah Diagnosis Penyakit </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>


<h3> Tambah Pasien </h3>
<form th:action="@{/diagnosis-penyakit/tambah}" th:object="${diagnosisPenyakit}" method="POST">

    <div class="form-group row">
        <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNama" placeholder="Nama" name="nama">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputKode" class="col-sm-2 col-form-label">Kode</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputKode" placeholder="Kode" name="kode">
        </div>
    </div>

    <button type="submit"> Submit </button>
</form>
</body>
</html>