<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistem Informasi Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h2 style="text-align: center">Sistem Informasi Pasien</h2>
<!--<form th:action="@{/menu/add/}+${resto.idRestoran}">-->
    <button class="btn btn-sm btn-primary">
        <a th:href="@{/pasien/tambah}" style="color: white">Tambah Pasien Baru</a>
    </button>

    <table class="table table-hover small">
        <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIK</th>
            <th>Jenis Kelamin</th>
            <th>Kode Pasien</th>
            <th>Tempat Lahir</th>
            <th>Tanggal Lahir</th>
            <th>Telepon Emergency Contact</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pasien, iterationStatus : ${pasienList}">
            <td th:text="${iterationStatus.count}"> </td>
            <td th:text="${pasien.nama}"></td>
            <td th:text="${pasien.nik}"></td>
            <td th:text="${pasien.jenis_kelamin}"></td>
            <td th:text="${pasien.kode}"></td>
            <td th:text="${pasien.tempat_lahir}"></td>
            <td th:text="${pasien.tanggal_lahir}"></td>
            <td th:text="${pasien.getEmergencyContact().no_hp}"></td>
            <td><button type="button" class="btn btn-dark btn-sm">
                <a th:href="@{/pasien/{nik}(nik=${pasien.nik})} + '/tambah-diagnosis'" style="color: white">Tambah Diagnosis</a>
            </button></td>
            <td><button type="button" class="btn btn-info btn-sm">
                <a th:href="@{/pasien}+ '?nik=' + ${pasien.nik}" style="color: white">Lihat</a>
            </button></td>
            <td><button type="button" class="btn btn-sm btn-dark">
                <a th:href="@{/pasien/ubah/}+${pasien.nik}" style="color: white">Ubah</a>
            </button></td>
            <td><button type="button" class="btn btn-danger btn-sm">Hapus</button></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>